[Unit]
Description=Failure Ntfy Alert for Weekly Restic Forget
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/zpool/catallenya-sev/restic/forget/ntfy/restic.forget.failure.ntfy.sh