*

!README.md
!.gitignore
!docker-compose.yml

!caddy/
!caddy/Caddyfile

!cloudflared/
!cloudflared/cloudflared.md

!rclone/
!rclone/rclone.md

!restic
!restic/backup
!restic/backup/*
!restic/backup/ntfy
!restic/backup/ntfy/*

!restic/check
!restic/check/*
!restic/check/ntfy
!restic/check/ntfy/*

!restic/forget
!restic/forget/*
!restic/forget/ntfy
!restic/forget/ntfy/*

!restic/restore
!restic/restore/restic.restore.sh

!restic/snapshots
!restic/snapshots/restic.snapshots.sh

!restic/unlock
!restic/unlock/restic.unlock.sh

!restic/restic.conf

!sanoid
!sanoid/*

!zpool
!zpool/*