{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$FLAME_REVERSE_PROXY_PORT} {
    reverse_proxy flame:5005
}

{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$SYNCTHING_REVERSE_PROXY_PORT} {
    reverse_proxy syncthing:8384
}

{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$IMMICH_REVERSE_PROXY} {
    reverse_proxy immich-proxy:8080
}

{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$MEMOS_REVERSE_PROXY_PORT} {
    reverse_proxy memos:5230
}

{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$VAULTWARDEN_REVERSE_PROXY_PORT} {
    reverse_proxy vaultwarden:80
}

{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$RADICALE_REVERSE_PROXY_PORT} {
    reverse_proxy radicale:5232
}

{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$AGENDAV_REVERSE_PROXY_PORT} {
    reverse_proxy agendav:8080
}

{$TAILNET_DOMAIN}.{$TAILNET_DNS_NAME}:{$GITEA_REVERSE_PROXY_PORT} {
    reverse_proxy gitea:3000
}