[Unit]
Description=Success notification for daily catallena-sev backup
After=syslog.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/etc/restic/catallenya-sev.backup.success-message.sh
AmbientCapabilities=CAP_DAC_READ_SEARCH

[Install]
WantedBy=multi-user.target
