[Unit]
Description=Failure Ntfy Alert for Monthly Restic Check
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/zpool/catallenya-sev/restic/check/ntfy/restic.check.failure.ntfy.sh